<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <div class="container">
    <div>
      Welcome home
      <a href="/logout">Logout</a>
      <p></p>
      <hr>
      <a href="/pay/drinkwater">Nước vina</a>
    </div>
    <div class="row">
      <div class="col-md-12">Tiền quỹ: <%= fund.Amount.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, "$1,") %> VNĐ</div> 
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>Bảng phân loại</p>
        <table class="table table-striped table-inverse table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên</th>
              <th>Tên hệ thống</th>
              <th>Số tiền mặc định</th>
              <th>Thứ tự</th>
              <th>Kích hoạt</th>
            </tr>
          </thead>
          <tbody>
            <% categorys.map((i,index) => { %>
              <tr>
                <th scope="row">
                  <%= index++ %>
                </th>
                <td>
                  <%= i.Name %>
                </td>
                <td>
                  <%= i.SystemName %>
                </td>
                <td>
                  <%= i.DefaultAmount.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, "$1,") %> VNĐ
                </td>
                <td>
                  <%= i.DisplayOrder %>
                </td>
                <td>
                  <% if(i.Active) { %>
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <% } %>
                </td>
              </tr>

              <% }); %>

          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <p>Chi tiêu</p>
        <table class="table table-striped table-inverse table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên</th>
              <th>Số tiền</th>
              <th>Ghi chú</th>
              <th>Ngày/giờ</th>
            </tr>
          </thead>
          <tbody>
            <% pays.map((i,index) => { %>
              <tr>
                <th scope="row">
                  <%= index++ %>
                </th>
                <td>
                  <%= i.Name %>
                </td>
                <td>
                  <%= i.Amount.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, "$1,") %> VNĐ
                </td>
                <td>
                  <%= i.Note %>
                </td>
                <td>
                  <%= i.CreatedAt.toLocaleString() %>
                </td>               
              </tr>

              <% }); %>

          </tbody>
        </table>
      </div>
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
</body>

</html>